!!!
%html{:lang => "en"}
  %head
    %title Shelter Nash
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Shelter Nash is an online tool to show the number of open beds that homeless shelters in the Nashville area have at any given time.", :name => "description"}/
    %meta{:content => "Nashville,Homeless,Ministry,Shelter", :name => "keywords"}/
    %meta{:content => "Matt Spell", :name => "author"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %body
    = render "layouts/header"
    = notice
    = alert
    = yield
    = render "layouts/footer"
